<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
<nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    <a class="navbar-brand" routerLink="/components/visualizar-permisos-licencias">Ver Todos</a>
    <a class="navbar-brand" routerLink="/components/admin-permisos">Permisos</a>
    <a class="navbar-brand" href="#">Ingreso</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container-fluid" style="margin-top: 5%;">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="card border-primary">
          <div class="card-header">Cantidad de Permisos 
            <div class="card-header-actions" style="height: 20px;">
                <span class="badge badge-pill badge-danger">42</span>
            </div>
          </div>
          <div class="card-header">
              <label>Maria Rodriguez</label>
          </div>
          <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
        </div>
      </div>
      <!-- /.col-->
      <div class="col-sm-6 col-md-4">
        <div class="card border-secondary">
          <div class="card-header">Cantidad de Permisos 
            <div class="card-header-actions" style="height: 20px;">
              <span class="badge badge-pill badge-danger">15</span>
            </div>
          </div>
          <div class="card-header">
              <label>Maria Rodriguez</label>
          </div>
          <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
        </div>
      </div>
      <!-- /.col-->
      <div class="col-sm-6 col-md-4">
        <div class="card border-success">
          <div class="card-header">Cantidad de Permisos 
            <div class="card-header-actions" style="height: 20px;">
              <span class="badge badge-pill badge-danger">2</span>
            </div>
          </div>
          <div class="card-header">
              <label>Maria Rodriguez</label>
          </div>
          <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
        </div>
      </div>
    </div>
    <!-- /.row-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>One fine body…</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="button">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content-->
      </div>
      <!-- /.modal-dialog-->
    </div>
  </div>
</div>
<div class="main-card mb-3 card" style="margin-top: 5%;">
    <div class="card-body"><h5 class="card-title">Registro de Permisos</h5>
      <form>
        <div class="form-row">
          <div class="col-md-6">
              <div class="position-relative form-group"><label for="exampleSelect">Trabajador</label>
                <select placeholder="Seleccionar Trabajador" name="select" id="exampleSelect" class="form-control">
                  <option>Gaspar Nahuelcura</option>
                  <option>Daniel Fuenzalida</option>
                  <option>Rodrigo Cifuentes</option>
                  <option>Maria Jose</option>
                  <option>Juan Perez</option>
                </select>
              </div>
          </div>
          <div class="col-md-6">
            <div class="position-relative form-group">
                <label for="exampleSelectMulti">Tipo de Ausencia</label>
                  <select placeholder="Seleccionar Ausencia" name="selectAusencia" id="exampleSelectAusencia" class="form-control">
                    <option>Tramite Personal</option>
                    <option>Problema Familiar</option>
                    <option>Devolución de dias</option>
                    <option>Enfermedad</option>
                    <option>Sin Aviso</option>
                    <option>Otro</option>
                  </select>
              </div>
          </div>
        </div>
        <div class="position-relative form-group"><label for="exampleText">Justificación</label>
          <textarea name="text" id="exampleText" class="form-control"></textarea>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <div class="position-relative form-group"><label for="exampleCity">Día</label><input name="city"
                                                                                                  id="exampleCity"
                                                                                                  type="text"
                                                                                                  class="form-control">
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group"><label for="exampleState">Mes</label><input name="state"
                                                                                                    id="exampleState"
                                                                                                    type="text"
                                                                                                    class="form-control">
            </div>
          </div>
          <div class="col-md-2">
            <div class="position-relative form-group"><label for="exampleZip">Año</label><input name="zip"
                                                                                                id="exampleZip"
                                                                                                type="text"
                                                                                                class="form-control">
            </div>
          </div>
        </div>
        <button class="mt-2 btn btn-primary">Ingresar</button>
      </form>
    </div>
  </div>
