<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
<nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    <a class="navbar-brand" routerLink="/components/visualizar-permisos-licencias">Ver Todos</a>
    <a class="navbar-brand" routerLink="/components/admin-licencias">Permisos</a>
    <a class="navbar-brand" routerLink="/components/ingresar-licencia">Ingreso</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="table-responsive" style="margin-top: 5%;">
<table class="align-middle mb-0 table table-borderless table-striped table-hover">
  <thead>
  <tr>
    <th class="text-center">#</th>
    <th>Name</th>
    <th class="text-center">Días de Licencias</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let hero of integrantes">
    <td class="text-center text-muted">#{{hero.id}}</td>
    <td>
      <div class="widget-content p-0">
        <div class="widget-content-wrapper">
          <div class="widget-content-left mr-3">
            <div class="widget-content-left">
              <img width="40" class="rounded-circle" src="./assets/images/avatars/4.jpg" alt="">
            </div>
          </div>
          <div class="widget-content-left flex2">
            <div class="widget-heading">{{hero.nombre}}</div>
            <div class="widget-subheading opacity-7">{{hero.cargo}}</div>
          </div>
        </div>
      </div>
    </td>
    <td contenteditable class="text-center">{{hero.dias}}</td>
  </tr>
  </tbody>
</table>
</div>


